* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

nav 
{
	font-family: 'Cinzel', serif;
	
	width:100% !important;
	box-shadow: 0px 2px 0px #C75000;
	z-index:1;
	opacity:.8;
	background:rgb();
	color:black !important;
}
.navbar-brand{
	font-family: 'Cinzel', serif;
}

nav:hover 
{
	opacity:1;
}

nav > div a:hover 
{
	border-bottom:1px solid orange !important;
	color:orange !important;
}

.active{
		border-bottom:1px solid orange !important;
	color:orange !important;
	}

#body-color{
	background-color:#00695c;

}

#section-name
{
	color:#C75000;
	font-size:20px;
}

.backgroundimage
{
	/*background-image:url("../img/Green-Background.jpg") !important;*/
	height:100vh;
	background-size: cover;
	background:no-repeat;
}

.navbar
{
	background-color:#00695c !important;
	color:black !important;
	position:fixed !important;
}
.nav-link 
{
	color:white !important;

}

.nav-item 
{
	list-style-type: none;
}

.container
{
	margin: 0 auto;
	text-align: center;
}

/*main*/

.container.mains{
	background-color: #f2f2f2; /*off white*/
	box-shadow: 0px 1px 20px 1px black;
	margin-top: .5rem;
	padding:2px;
}
.main-container
{
	padding-top:7% !important;
/*	margin:20px;*/
}

.card-cols{
	background-color: #f2f2f2; /*off white*/
	box-shadow: 0px 1px 20px 1px black;
	margin:0 auto;

}





	#view-banner
	{
		position:relative;
		background-color:#61D095;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;
		padding-top:5% ;
		text-align:center;


	}
	.banner-container{

		margin:0 auto;
		height:100%;


	}
	.logo-container
	{
		margin: 0 auto;
		text-align: center;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;

	}

	.carousel-container
	{
		margin: 0 auto;
		text-align: center;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;
		padding-top:3% ;
		
	}

	

	.img-pad
	{
		border:2px solid white;
		padding:3px;
		background-color:grey;
	}


	.jumbotron
	{
		position:absolute;
		background-color:rgba(255,255,255,.5);
		top:40%;
		left:50%;
		font-family: 'Cinzel', serif;
		text-align:center;
		transform:translate(-50%,-40%);
		color:black;


	}

	#home-jumbotron
	{
		
		background-color:rgba(255,255,255,.5);
		font-family: 'Cinzel', serif;
		text-align:center;
		margin-top:1%;
		font-size:2px;
		color:#00A676;
		/*width:100%;*/


	}

	.carousel
	{
		position:relative ;
	}


	/*Home*/



	#product
	{
		/*background-color:#3C6E71;/* orange;*/
		background-color:transparent; /*indianred*/
			padding:30px;
			color:#0B0A0B;

	}
	.pad-about
	{
		/*background-color:#3C6E71;/* orange;*/
		padding:0 20%;

	}


	#index-button{

		text-align:center;
		margin:10px auto;
		margin-top:30px;
	}
	#product-button{

		text-align:center;
		margin:10px auto;
		margin-top:30px;
	}

	.cmd-color {
  background-color: #306B34; 
  color: #f2f2f2; /*off white*/
}

	.product-row{
		margin:0 auto;
		text-align:center;
		padding:0 5px;
		color:black;

	}
	.product-col{
		padding-top:5px;
		margin:0 auto;
		text-align:center;
		background-color:rgba(255,255,255,0);
		border-radius:10px;

	}
	.product-col:hover{
		background-color:rgba(255,255,255,1);
		color:black;
	}
	.product-img{
		height:200px;
		border-radius:2px;
		padding-top:4px;
		margin-top:4px !important;
	}


	.overlay .mask {
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out; 
	}
	.overlay .mask:hover {
		opacity: 1; }


		#about{

			background-color:transparent; /*indianred*/
			padding:30px;
			color:#0B0A0B;

		}

		#contact{

			padding:15px;

			margin:0 auto;
			text-align:center;
			color:#0B0A0B;
			background-color:transparent;
		}
		.contact-row{
			margin:0 auto;
			text-align:center;
			padding:0 5px;
			/*color:#f2f2f2;*/
		}
		#fb{
			color:blue;
		}

		#instagram{
			color:blue;
		}
		#twitter{
			color:blue;
		}




		.body-container{
			margin:0 auto;
			width:78%;
			border:1px solid #f2f2f2; /*off white*/
			background-color:rgba(255,255,255,.5);
			font-family: 'Kaushan Script', cursive;


		}
	
	.modal-title{
		color:#77AD78;
		font-family: 'Cinzel', serif;
	}
	
	.h3-section{
		color:#77AD78;
		font-family: 'Cinzel', serif;
	}

	.green-text{
		color:#77AD78;
	
	}
	.h4-section{
		/*color:#77AD78;*/
		font-family: 'Cinzel', serif;
	}
	.h5-section{
		font-family: 'Cinzel', serif;
	}

	
	#jumbotron-header{
		text-align:center;
	}


	#backtotop{
		position:fixed;
		bottom:10px;
		color:white;
		background-color:#234620;
		right:25px;
		z-index:2;
		display: none;
		cursor: pointer;
		border-radius:50px;
	

	}

	/*************************************/
	/*footer*/
	.fab{
		font-size: 50px;
		/*color:white;
		text-shadow: 4px 4px 5px #2F5D2A;*/
		margin:0 3px;
		border-radius:10px;
		text-align:center;
		color:#47BCB8;
	}
	.fab:hover{
		color:blue;
	}
	.fab.visited{
		color:red;

	}
	iframe{
		padding-bottom:10px;
		border:1px solid black;
	}
	.disclaimer{
		padding-top:10px;
	}
	footer{
		background-color:#00695c;
		text-align:center !important;
		color:#f2f2f2; /*off white*/
		margin-top:5px;
		font-family: 'Cinzel', serif;
		border-top:2px solid #C75000;

	}

	/**************************************/

	/*Tablet*/

	@media only screen and (min-width: 768px) and (max-width: 1024px) {

		nav:hover 
		{
			opacity:1;
		}

		nav > div a:hover 
		{
			border-bottom:1px solid orange !important;
			color:orange !important;
		}
		body{
			background-color:#f2f2f2;
		}
		#banner
		{
			position:relative;
			background-color:#61D095;
			/*padding:30px;*/
			height:100vh;
			background-image:url("../img/layer-background/green-vintage-wood-texture-background.jpg");
			background-image:cover;
			width:100%;
			padding-top:9%;
			box-sizing:content-box;


		}

		.jumbotron
		{
			padding:5px;
			position:absolute;
			background-color:rgba(255,255,255,.5);
			top:110%;
			left:50%;
			font-family: 'Kaushan Script', cursive;
			text-align:center;
			transform:translate(-50%,0%);
			width:80%;
		}
		.btn-lg
		{
			padding: 10px 10px;
			font-size: 15px;
			border-radius: 8px;
		}


		.main-container
		{
			padding:13% 2px 55% 2px !important;
			background-color: transparent;
			position:relative;

		}
		.home-jumbotron
		{
			position:absolute;
			background-color:rgba(255,255,255,.5);
			top:90%;
			left:50%;
			font-family: 'Kaushan Script', cursive;
			text-align:center;
			transform:translate(-50%,-90%);
			font-size:1px;
			width:100%;


		}
		#jumbotron-header{
			font-size:30px;
		}



		#view-banner
	{
		position:relative;
		background-color:#61D095;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;
		padding-top:10% ;
		text-align:center;


	}
	.card-cols{
	background-color: #f2f2f2; /*off white*/
	box-shadow: 0px 1px 20px 1px black;
	margin:10px 15px 10px 15px;

}
.gallery{
	margin:0 auto;
}


.rice-flex{
	display:flex;
	align-items:center;
	justify-content: center;
}

	}

	/*Mobile*/

	@media only screen and (max-width: 480px) {
		*{
			padding:0;
			margin:0;
			box-sizing:border-box;
		}
		nav:hover 
		{
			opacity:1;
		}

		nav > div a:hover 
		{
			border-bottom:1px solid orange !important;
			color:orange !important;
		}

		#myHeader 
		{
			font-size:18px;
		}
		#myPar 
		{
			font-size:8px;
		}

		.jumbotron
		{
			
			position:absolute;
			background-color:rgba(255,255,255,.5);
			top:100%;
			left:50%;
			font-family: 'Kaushan Script', cursive;
			text-align:center;
			transform:translate(-50%,0%);
			width:100%;



		}
		.btn-lg
		{
			padding: 10px 10px;
			font-size: 10px;
			border-radius: 8px;
		}

		body{
			background-color:#f2f2f2;
		}

		.main-container
		{
			padding:20% 2px 55% 2px !important;
			background-color: transparent;
			position:relative;

		}

	#index-button{

		text-align:center;
		margin:0 auto;
		
	}

		#view-banner
	{
		position:relative;
		background-color:#61D095;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;
		padding-top:20% ;
		text-align:center;


	}

	.logo-container
	{
		margin: 0 auto;
		text-align: center;
		background-image:url("../img/layer-background/b1.jpg");
		background-image:cover;
		width:100%;
		height:157px;


	}

	.card-cols{
	background-color: #f2f2f2; /*off white*/
	box-shadow: 0px 1px 20px 1px black;
	margin:10px;


		}